body {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    flex: 0;
    text-align: center;
    text-transform: capitalize;
    background-color: #2196f3;
    color: #ffffff;
    margin: 0;
    padding: 15px;
}

.canvas {
    flex: 1;
    overflow: hidden;
}

.view {
    position: relative;
}

.draggable {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dragging {
    cursor: move;
}

.screen {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    background-color: #8BC34A;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out, box-shadow 0.2s ease-out;
}

.screen.dragging {
    transform: scale(1.10);
    box-shadow: 0px 0px 20px rgba(5,0,0,0.50);
    opacity: 0.75;
}

.screen-name {
    text-align: center;
}
